{% extends 'admin/body.html.twig' %}

{% block content %}

    <div id="page-html"></div>

{% endblock %}



{% block javascripts %}

    {{ parent() }}
    {% trans_default_domain 'admin' %}

    <script>
        var locale = '{{ app.request.locale }}';

        var lbl = {
            _deleted:    '{{ '_DELETED'|trans }}',
            _pagename:   '{{ '_CREATE_ROLE'|trans }}',
            _name:       '{{ '_NAME_ROLE_TEXT'|trans }}',
            _role:       '{{ '_NAME_ROLE_KEY'|trans }}'
        };

        var path = {
            list:   '{{ path('_admin_role_list') }}',
            remove: '{{ path('_admin_role_remove') }}',
            save:   '{{ path('_admin_role_save') }}'
        };

        var data  = {{data|json_encode|raw}};
        var list_roles = {{list_roles|json_encode|raw}};

        // ID элемента для вставки полей
        var APPEND_ELEMENT = '#page-html';

        new ui.Form('form-user', locale)
                .setTitle(lbl._pagename, null)
                .setUrtDel(path.remove)
                .setUrtList(path.list)
                .setUrlActionForm(path.save)

                .setFormReadOnly(false)

                .setParentBlock('Роль', 'id', data)

                .newLineParent()
                .addTextField(null, 'role', lbl._role, true)
                .addTextField(null, 'name', lbl._name, true)

                .newLineParent()
                .addSelectField(null, 'parent_role', lbl._role, list_roles, true)
                .addReadOnlyField(null, null, null, null)

                .newLineParent()
                .addRadioField(0, 'deleted', lbl._deleted, ['Нет', 'Да'], false, 12)

                .setDebug(true)

                .appendHTML(APPEND_ELEMENT);
    </script>

{% endblock %}