{% extends 'admin/body.html.twig' %}

{% block content %}
    <div id="page-html"></div>



{% endblock %}



{% block javascripts %}

    {{ parent() }}
    {% trans_default_domain 'admin' %}

    <script>
        var locale = '{{ app.request.locale }}';

        var lbl = {
            _basket:     '{{ '_BASKET'|trans }}',
            _pagename:   '{{ '_LIST_ROLE'|trans }}',
            _name:       '{{ '_NAME_ROLE_TEXT'|trans }}',
            _role:       '{{ '_NAME_ROLE_KEY'|trans }}',
            _created_at: '{{ '_CREATED_AT'|trans }}',
            _updated_at: '{{ '_UPDATED_AT'|trans }}'
        };

        var path = {
            create:      '{{ path('_admin_role_create') }}',
            remove:      '{{ path('_admin_role_remove') }}',
            switch_list: '{{ path('_admin_role_switch_list', {'type': 'list'}) }}'
        };

        var data = {{data|json_encode|raw}};
        var count_page = {{count_page}};
        var current_page = {{current_page}};

        // ID элемента для вставки полей
        var APPEND_ELEMENT = '#page-html';

        new ui.List('id', 'list-role', locale)
                .setTitle(lbl._basket + ' / ' + lbl._pagename, null)

                .setLinkAddEndEdit(path.create)
                .setDataAjaxPagination('pagination', path.switch_list)
                .setDataAjaxRemove('remove', path.remove)

                .setTypeTable('bordered')
                .hideBtnClear(true)
                .hideBtnSearch(true)
                .hideBtnReload(true)
                .hideBtnTrash(true)

                .newRowHead()
                .addCellHead(lbl._created_at, 1, 1, true, 2, null)
                .addCellHead(lbl._updated_at, 1, 1, true, 2, null)
                .addCellHead(lbl._name, 1, 1, true, 4, null)
                .addCellHead(lbl._role, 1, 1, true, 4, null)

                .addRowsBody(data)
                .addColumn('created_at', 'datetime')
                .addColumn('updated_at', 'datetime')
                .addColumn('role', 'link')
                .addColumn('name', 'link')

                .setCountPages(count_page)
                .setCurrentPage(current_page)

                .appendHTML(APPEND_ELEMENT);
    </script>

{% endblock %}