{% extends 'base.html.twig' %}
{% block body %}
    <div id="edit-users"></div>




{% endblock %}
{% block addscripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var vlt = {{ vlt|json_encode|raw }};
            var role = {{ role|json_encode|raw }};
            var status = {{ status|json_encode|raw }};
            var formatDate = {{ formatDate|json_encode|raw }};
            var action = '{{ action }}';

            var content = new HTML.Collapse()
                .setShowAllPanels(true)
                .addPanel(
                    'Редактирование пользователя',
                    new HTML.Table()
                        .setSkinTable('bordered-none')
                        .setMargin('xs')
                        .addRow()
                        .addCell(
                            new HTML.Fields(3)
                                .addInput(null, 'Фамилия', 'last_name')
                                .addInput(null, 'Имя', 'first_name')
                                .addInput(null, 'Отчество', 'middle_name')
                                .toHtml(), 1, 1
                        )
                        .addCell('<img src="{{ asset('/admin/img/noavatar.png') }}" class="img-thumbnail">', 1, 3, '10%')
                        .addRow()
                        .addCell(
                            new HTML.Fields(3)
                                .addInput(null, 'Login', 'cms_login')
                                .addInput(null, 'Email', 'cms_email')
                                .addSelectList(role, 'ROLE_USER', 'cms_role', 'Роль')
                                .toHtml(), 1, 1
                        )
                        .addRow()
                        .addCell(
                            new HTML.Fields(3)
                                .addInputPassword(null, 'Пароль', 'cms_password')
                                .addInputPassword(null, 'Повторите пароль', 'repeat_cms_password')
                                .toHtml(),1, 1
                        )
                        .addRow()
                        .addCell(
                            new HTML.Fields(3)
                                .addSelectList(formatDate, null, 'date_format', 'Пользовательский формат даты')
                                .addInputDate(null, 'Период - начало', 'date_perion_n', false)
                                .addInputDate(null, 'Период - конец', 'date_perion_k', false)
                                .toHtml(),1, 1
                        )
                        .addCell('Еще что то', 1, 2)
                        .addRow()
                        .addCell(
                            new HTML.Fields(3)
                                .addSelectList(status, null, 'status', 'Статус')
                                .addInputRead('Label', 'Валюта', 'currency')
                                .toHtml(),1, 1
                        )
                        .setContentAfterTable(
                            new HTML.Button('toolbar', null)
                                .setPositionBlock('right')
                                .setActive(true)
                                .addSubmit('Сохранить', 'save-data', null, 'plus', false)
                                .setSkin('danger')
                                .addSubmit('Удалить', 'delete-data', null, 'remove', false)
                                .toHtml()
                        )
                        .toHtml(),
                    true
                )
                .toHtml();

            new HTML.Form()
                .setAction(action)
                .setContent(content)
                .appendHtml('#edit-users');
        });

//        jQuery(document).ready(function() {
//            $('.date-calendar').datepicker({changeMonth: true, changeYear: true});
//        });
    </script>
{% endblock %}