{% extends 'base.html.twig' %}
{% block body %}
    <div id="list-users" class=""></div>

{% endblock %}
{% block addscripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            //Parameters for generating rows table head
            var dataHead = JSON.parse('{{ head|json_encode|raw }}');
            //Parameters for generating rows table body
            var dataBody = JSON.parse({{ body|json_encode|raw }});

            var currentPage = '{{ pagination.currentPage }}';
            var countPage = '{{ pagination.countPage }}';

            new HTML.Grid()
                    .setTitle('Список пользователей')
                    .setDataHead(dataHead)
                    .setDataBody(dataBody)
                    .setLinkRowTable('{{ url('_user_form') }}')
                    .setCountPages(countPage)
                    .setCurrentPage(currentPage)
                    .setLinkPagination('{{ url('_user_list') }}')
                    .setLinkParamPagination('/')
                    .appendHtml('#list-users');
        });
    </script>
{% endblock %}