{% extends 'base.html.twig' %}
{% block body %}
    <div id="list-users"></div>

{% endblock %}
{% block addscripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            //Parameters for generating rows table head
            var dataHead = JSON.parse('{{ head|json_encode|raw }}');
            //Parameters for generating rows table body
            var dataBody = JSON.parse({{ body|json_encode|raw }});
            //console.log(dataBody);

            var currentPage = '{{ pagination.currentPage }}';
            var countPage = '{{ pagination.countPage }}';

            var tb = new HTML.Table('table-users', true, false)
                .setMargin('lg')
                .setLinkRow('{{ url('_user_form') }}')
                .addDataHead([dataHead])
                .addDataBody(dataBody)
                .addParamsLink('firstName')
                .appendHtml('#list-users');
        });
    </script>
{% endblock %}