{% extends 'admin/body.html.twig' %}

{% block content %}

    <div id="page-html"></div>

{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <script>
        var locale = '{{ app.request.locale }}';

        var lbl = {
            _pagename:  '{{ '_CREATE_USER'|trans({}, 'admin') }}',
            _confirm:   '{{ '_CONFIRM_PASSWORD'|trans({}, 'admin') }}',
            _username:  '{{ '_USERNAME'|trans({}, 'admin') }}',
            _password:  '{{ '_PASSWORD'|trans({}, 'admin') }}',
            _active:    '{{ '_ACTIVE'|trans({}, 'admin') }}',
            _email:     '{{ '_EMAIL'|trans({}, 'admin') }}',
            _role:      '{{ '_ROLE'|trans({}, 'admin') }}'
        };

        var path = {
            list:   '{{ path('_user_list') }}',
            del:    '{{ path('_user_delete') }}',
            save: '{{ path('_user_save') }}'
        };

        var data = {{data|json_encode|raw}};
        var roles = {{roles|json_encode|raw}};

        // ID элемента для вставки полей
        var APPEND_ELEMENT = '#page-html';

        new ui.Form('form-user', locale)
            .setTitle(lbl._pagename, null)
            .setUrtDel(path.del)
            .setUrtList(path.list)
            .setUrlActionForm(path.save)
            .setWidthCaption(6)

            .setParentBlock('Информация о пользователе', 'id', data)

            .newLineParent()
            .addTextField('username', lbl._username, true)
            .addTextField('email', lbl._email)
            .addReadOnlyField(null, null, null)

            .newLineParent()
            .addPasswordField('password', lbl._password, true)
            .addPasswordField('confirm', lbl._confirm, true)
            .addReadOnlyField(null, null, null)

            .newLineParent()
            .addSelectField('role', lbl._role, roles, true)
            .addRadioField('isActive', lbl._active, ['Нет', 'Да'], true, 6)
            .addReadOnlyField(null, null, null)
            .addReadOnlyField(null, null, null)
            .setDebug(true)

            .appendHTML(APPEND_ELEMENT);
    </script>

{% endblock %}