{% extends 'admin/body.html.twig' %}

{% block content %}

    <div id="page-html"></div>

{% endblock %}



{% block javascripts %}

    {{ parent() }}
    {% trans_default_domain 'admin' %}

    <script>
        var locale = '{{ app.request.locale }}';

        var lbl = {
            _deleted:    '{{ '_DELETED'|trans }}',
            _pagename:   '{{ '_CREATE_USER'|trans }}',
            _confirm:    '{{ '_CONFIRM_PASSWORD'|trans }}',
            _username:   '{{ '_USERNAME'|trans }}',
            _password:   '{{ '_PASSWORD'|trans }}',
            _staus:      '{{ '_STAUS'|trans }}',
            _active:     '{{ '_ACTIVE'|trans }}',
            _locked:     '{{ '_LOCKED'|trans }}',
            _email:      '{{ '_EMAIL'|trans }}',
            _role:       '{{ '_ROLE'|trans }}',
            _created_at: '{{ '_CREATED_AT'|trans }}'
        };

        var path = {
            list: '{{ path('_user_list') }}',
            remove:  '{{ path('_user_remove') }}',
            save: '{{ path('_user_save') }}'
        };

        var data  = {{data|json_encode|raw}};
        var list_roles = {{list_roles|json_encode|raw}};

        // ID элемента для вставки полей
        var APPEND_ELEMENT = '#page-html';

        new ui.Form('form-user', locale)
            .setTitle(lbl._pagename, null)
            .setUrtDel(path.remove)
            .setUrtList(path.list)
            .setUrlActionForm(path.save)

            .setFormReadOnly(false)

            .setParentBlock('Информация о пользователе', 'id', data)

            .newLineParent()
            .addTextField(null, 'username', lbl._username, true)
            .addTextField(null, 'email', lbl._email)

            .newLineParent()
            .addPasswordField(null, 'password', lbl._password, data ? false : true)
            .addPasswordField(null, 'confirmPassword', lbl._confirm, data ? false : true)

            .newLineParent()
            .addSelectField(null, 'role_id', lbl._role, list_roles, true)
//            .addDateTimeField(null, 'created_at', lbl._created_at, null)
//            .addDateField(null, 'created_at', lbl._created_at, null)
            .addReadOnlyField(null, 'created_at', lbl._created_at, null, 'datetime')

            .newLineParent()
            .addRadioField(0, 'isActive', lbl._staus, [lbl._locked, lbl._active], false, 12)
            .addRadioField(0, 'deleted', lbl._deleted, ['Нет', 'Да'], false, 12)

            .setDebug(true)

            .appendHTML(APPEND_ELEMENT);
    </script>

{% endblock %}