{% extends 'admin/body.html.twig' %}

{% block content %}
    <div id="page-html"></div>
{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <script>
        var locale = '{{ app.request.locale }}';

        var lbl = {
            _pagename:  '{{ '_LIST_USER'|trans({}, 'admin') }}',
            _username:  '{{ '_USERNAME'|trans({}, 'admin') }}',
            _active:    '{{ '_ACTIVE'|trans({}, 'admin') }}',
            _email:     '{{ '_EMAIL'|trans({}, 'admin') }}'
        };

        var path = {
            add:   '{{ path('_user_create') }}',
            trash: '{{ path('_user_trash') }}',
            del:   '{{ path('_user_delete') }}'
        };


        // ID элемента для вставки полей
        var APPEND_ELEMENT = '#page-html';

        new ui.List('id', 'list-user', locale)

            .setLinkAddEndEdit(path.add)
            .setLinkTrash(path.trash)
            .setAction(path.del)
            .setTitle(lbl._pagename, null)

            .setTypeTable('bordered')
            .hideBtnClear(true)
            .hideBtnSearch(true)

            .setMaxRow(25)
            .setCountPages(1)
            .setCurrentPage(1)

            .newRowHead()
            .addCellHead(lbl._username, 1, 1, true, 5, null)
            .addCellHead(lbl._email, 1, 1, true, 5, null)
            .addCellHead(lbl._active, 1, 1, true, 2, null)

//            .addColumn('name2', 'number')
//            .addColumn('name3', 'link')
//            .addColumn('name4', 'text')
//            .addColumn('name5', 'image')

            .appendHTML(APPEND_ELEMENT);
    </script>

{% endblock %}