{% extends 'admin/body.html.twig' %}

{% block content %}
    <div id="page-html"></div>



{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <script>
        var locale = '{{ app.request.locale }}';

        var lbl = {
            _basket:     '{{ '_BASKET'|trans({}, 'admin') }}',
            _pagename:   '{{ '_LIST_USER'|trans({}, 'admin') }}',
            _username:   '{{ '_USERNAME'|trans({}, 'admin') }}',
            _staus:      '{{ '_STAUS'|trans({}, 'admin') }}',
            _active:     '{{ '_ACTIVE'|trans({}, 'admin') }}',
            _role:       '{{ '_ROLE'|trans({}, 'admin') }}',
            _locked:     '{{ '_LOCKED'|trans({}, 'admin') }}',
            _email:      '{{ '_EMAIL'|trans({}, 'admin') }}',
            _created_at: '{{ '_CREATED_AT'|trans({}, 'admin') }}'
        };

        var path = {
            create:      '{{ path('_user_create') }}',
            remove:      '{{ path('_user_remove') }}',
            switch_list: '{{ path('_user_switch_list', {'type': 'trash'}) }}'
        };

        var data = {{data|json_encode|raw}};
        var count_page = {{count_page}};
        var current_page = {{current_page}};

        // ID элемента для вставки полей
        var APPEND_ELEMENT = '#page-html';

        new ui.List('id', 'list-user-trash', locale)
                .setTitle(lbl._basket + ' / ' + lbl._pagename, null)

                .setTitleSearch(null, 'поиск удаленных пользователей')
                .newLineSearchFields()
                .addTextField(null, 'username', lbl._username, false)
                .addTextField(null, 'email', lbl._email, false)
                .addReadOnlyField(null, null, null, null)
                .addReadOnlyField(null, null, null, null)

                .setLinkAddEndEdit(path.create)
                .setDataAjaxPagination('pagination', path.switch_list)
                .setDataAjaxSearch('search', path.switch_list)
                .setDataAjaxRemove('remove', path.remove)

                .setTypeTable('bordered')
                .hideBtnReload(true)
                .hideBtnTrash(true)

                .newRowHead()
                .addCellHead(lbl._created_at, 1, 1, true, 3, null)
                .addCellHead(lbl._username, 1, 1, true, 4, null)
                .addCellHead(lbl._role, 1, 1, true, 2, null)
                .addCellHead(lbl._email, 1, 1, true, 4, null)
                .addCellHead(lbl._staus, 1, 1, true, 1, null)

                .addRowsBody(data)
                .addColumn('created_at', 'datetime')
                .addColumn('username', 'link')
                .addColumn('rolename', 'text')
                .addColumn('email', 'link')
                .addColumn('isActive', 'ban')

                .setCountPages(count_page)
                .setCurrentPage(current_page)

                .appendHTML(APPEND_ELEMENT);
    </script>

{% endblock %}