{% extends 'admin/base.html.twig' %}

{% block body %}

    <div  id="page-login-html" class="form-signin"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        var lbl = {
            _authorization: '{{ '_AUTHORIZATION'|trans({}, 'admin') }}',
            _username:      '{{ '_USERNAME'|trans({}, 'admin') }}',
            _password:      '{{ '_PASSWORD'|trans({}, 'admin') }}',
            _login:         '{{ '_LOGIN'|trans({}, 'admin') }}'
        };

        var errorMessage = '{% if error %} {{ error.messageKey|trans(error.messageData, 'security') }} {% endif %}';

        var APPEND_ELEMENT = '#page-login-html';

        new ui.Form('form-login', '{{ app.request.locale }}')
                .setUrlActionForm('{{ path('_security_login') }}')
                .setParentBlock(lbl._authorization, null, {_username: '{{ username }}'})

                .newLineParent()
                .addTextField(null, '_username', lbl._username, true)

                .newLineParent()
                .addPasswordField(null, '_password', lbl._password, true)

                .hideBtnReload(true)
                .hideBtnBack(true)
                .hideBtnSave(true)
                .hideBtnClear(true)
                .addButton(4, 'submit', '_login', 'log-in', lbl._login)
                .appendHTML(APPEND_ELEMENT);

        new ui.Alert()
                .addError(null, errorMessage)
                .appendHTML('.row-fields');

    </script>

{% endblock %}